/* Stylesheet for evaluate/quiz.html */

img {
    max-width: 70%;
}

iframe {
    aspect-ratio: 16 / 9;
    width: 100%;
}

select.picturemcq, select.videomcq {
    width: 25%;
}

#submit-btn {
    width: 25%;
}
