{% extends "base.html" %}


{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'evaluate/login.css' %}" />
{% endblock %}

{% block title %}SAFE | Evaluate > Login{% endblock %}

{% block content %}

    <div id="login-form" class="col-lg-7 mx-auto p-5 mt-5 shadow">
        
        <form action="" method="post">{% csrf_token %}
            <!-- Form title -->
            <div class="row">
                <div class="col mx-auto text-center">
                    <h2>Student Login</h2>
                    <p class="font-weight-bold text-dark">
                        Enter your login details here to login to the Evaluate interface.
                    </p>
                </div>
            </div>

            <hr />

            <!-- Form alerts -->
            {% if form.errors %}
                <div class="col-md-11 mx-auto">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>Incorrect username and/or password!</strong> Try again.
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            {% endif %}

            <!-- Form content -->
            <div class="row px-sm-5 my-5">

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Username: </span>
                    </div>
                    <input name="username" type="text" class="form-control" aria-label="Username">
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Password: </span>
                    </div>
                    <input name="password" type="password" class="form-control" aria-label="Password">
                </div>

            </div>

            <hr />

            <!-- Form navigation -->
            <div class="row">
                <input class="btn btn-outline-dark mx-auto" type="submit" value="Login"/>
                <input type="hidden" name="next" value="{{ next }}"/>
            </div>

        </form>

    </div>

{% endblock %}
