{% extends 'base.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'landing/index.css' %}" />
{% endblock %}

{% block title %}SAFE | Analyze{% endblock %}

{% block content %}

    <div class="row h-100">
        <div class="col-sm-12 mx-auto my-auto text-center">
            <h1>Analyze</h1>

            <br>

            <p>Courses vs. quiz scores</p>
            <img src="demo-courses-vs-marks-plot"></img>

            <br>
            <br>

            <p>Question categories vs. question scores</p>
            <img src="demo-question-categories-vs-marks-plot"></img>

            <br>
            <br>

            <p>Time taken vs. quiz scores</p>
            <img src="demo-time-taken-vs-marks-plot"></img>

            <br>
            <br>

            <p>Number of incidents vs. marks in "PPE" category</p>
            <img src="demo-incidents-vs-marks-plot"></img>
        </div>
    </div>

{% endblock %}
